.leaflet-layer-tree-control {
}

.leaflet-layer-tree-control-leaf-title input {
	vertical-align: middle;
}

.leaflet-layer-tree-control-leaf-title label {
	padding-right: 10px;
}

.leaflet-layer-tree-control-layers-open {
	padding: 3px 9px 5px 9px;
}

.leaflet-layer-tree-control-layers-closed {
	display: none;
}

.leaflet-layer-tree-control-leaf-header,
.leaflet-layer-tree-control-leaf-header input,
.leaflet-layer-tree-control-leaf-header label {
	display: inline-flex;
}

.leaflet-layer-tree-control-leaf-header label {
	cursor: pointer;
	margin: 0px 0px 1px 0px;
}

.leaflet-layer-tree-control-leaf-header input {
	margin-right: 5px;
	margin-top: 0px;
}

.leaflet-layer-tree-control-leaf-content {
	padding-left: 10px;
}

.leaflet-layer-tree-control-leaf-switcher {
	padding-left: 21px;
	cursor: pointer;
	vertical-align: bottom;
}

.leaflet-layer-tree-control-leaf-switcher-open {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3woUCDYG1Bu5ywAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACWSURBVBjTnZHBrcMwDEOpP4wXyATyCNkiGSNLeBOfs0UkwLu8Htu4ufTzSJF4BGQA+lF/T2ZEaF1XRcRzi0nXdeHuLMuCuxMRc4QbKTO177vMTMdxyMy0bZsy85kUEbg7tVYyE4DMpNZ68wAEMMZ4PM7FMcZ73nmekqTWmkoptyWlFLXW9JkTQO/9izArM+m9A2D/+dMLTNHPpRejxnIAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	background-position: center center;
}

.leaflet-layer-tree-control-leaf-switcher-closed {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3woUCDQyx5kv/AAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACWSURBVBjTlZHbCcMwDEWvSjcSeA0PlASSGC/gSTShTr/qpi0Uqi9JSPfoYQD6w26SNMbQrz5AY4wZUEqhtUZm8mmZSWuNUgoAN0mqtSoi1Ht/IwHqvSsiVGt9ETKT8zxx90l6Kl9zAHdJMjOt6ypAETEJT+VlWWRmL8J13n3fcXfcneM4vva6X69hZtq2bapd/Vnz7x8eb42jywYyo2wAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	background-position: center center;
}

/* Toggle iconify */
.leaflet-layer-tree-control-toggle-open {
	position: absolute;
	left: -39px;
	top: 0px;
	cursor: pointer;
	width: 36px;
	height: 36px;
}

.leaflet-layer-tree-control-toggle-closed {
	cursor: pointer;
	width: 36px;
	height: 36px;
}

.leaflet-left > .leaflet-layer-tree-control {
	margin-left: 49px !important;
}

.leaflet-layer-tree-control-toggle-open .leaflet-layer-tree-control-toggle-link {
	background-image: url('images/layers-2x.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color:transparent;
	background-size: 85% 85%;
	width: 100%;
	height: 100%;
}

.leaflet-layer-tree-control-toggle-closed .leaflet-layer-tree-control-toggle-link {
	background-image: url('images/layers-2x.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color:transparent;
	background-size: 85% 85%;
	width: 100%;
	height: 100%;
}

/* Toggle order */
.leaflet-layer-tree-control-order-toggle-open {
	position: absolute;
	left: -39px;
	top: 39px;
	cursor: pointer;
	width: 36px;
	height: 36px;
}

.leaflet-layer-tree-control-order-toggle-closed {
	position: absolute;
	left: -39px;
	top: 39px;
	cursor: pointer;
	width: 36px;
	height: 36px;
}

.leaflet-layer-tree-control-order-toggle-hidden {
	display: none;
}

.leaflet-layer-tree-control-order-toggle-open .leaflet-layer-tree-control-order-toggle-link {
	background-image: url('images/sort.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color:transparent;
	background-size: 55% 55%;
	width: 100%;
	height: 100%;
}

.leaflet-layer-tree-control-order-toggle-closed .leaflet-layer-tree-control-order-toggle-link {
	background-image: url('images/sort.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color:transparent;
	background-size: 55% 55%;
	width: 100%;
	height: 100%;
}

.leaflet-layer-tree-control-order-open {
	padding: 3px 9px 5px 9px;
}

.leaflet-layer-tree-control-order-closed {
	display: none;
}

.leaflet-layer-tree-control-order-row {
}

.leaflet-layer-tree-control-order-row-content {
	display: inline-flex;
}

.leaflet-layer-tree-control-order-up {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3woUCSIrvqhY3AAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAADASURBVCjPzZK9DYNQDIQ/giigeewCJVuwAWIGBqCkp4EREGwABQvQswAl7RNIOFVCEvKjpMqV9p3POtsQEeFLnJ4Vtdakaco8z89V8oBt2yRJEvE8T+I4lnVdHylycCrLkrZtARiGgSzL3q/XdR1FUdwRmqahqqq7mnEJYhxHoihCa32YbJomeZ7j+/4uWpaFMAyZpullYq7rUtc1Sqnd6RZBEFwd+77HcZzPkf90pz8XKaUAsG0by7IOfeOXhz0DCr9xpxM7oJYAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	padding-left: 13px;
	width: 19px;
	height: 18px;
}

.leaflet-layer-tree-control-order-down {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3woUCSIS4a3Q1AAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAACySURBVCjPzZIrDoQwFEUvY9gAYQWYahrCLqhEdAk1OAwORYLCsDiCYAUlQUIubiZAJ2FQc+RNzvvleSSJH3mdg2makKYppJQwxtyTlmXBuq4AAGvtPenReP8leSQ5DAO01u8DuJBSou/7T6coilCW5VchDEPUdX0dTymFPM8vgu/7aNsWQRC4dyqKAkmSHKSqqiCEOFbiiXmemWUZ4zhm13V0AVc4jiObpuG2bU7Je/KwO6c6jj9T2RMLAAAAAElFTkSuQmCC');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	padding-left: 13px;
	width: 19px;
	height: 18px;
}

.leaflet-layer-tree-control-order-row-content label {
	padding-right: 5px;
}

.leaflet-layer-tree-control-leaf-wfs-zoom-to {
	background-color: #5560B3;
	padding: 0px 5px 0px 6px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 9px;
	vertical-align: middle;
}

/* Checkbox select none-one-all */
.leaflet-layer-tree-control-select-layers-none {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQXESsv6ceiFgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAA1klEQVQ4y92TsYqEMBCG/9kEBbso+ASxFex8/8pOsDVPIMTSEKPOVgqHt66c3Q0MJAzfNzOEAA+DAICZ+U8wEcn9Ms8z2raFtRbruv4KCCGQZRmqqkIURT8naJoGRISiKC679n0PZkZd1yAieu0Fay201mDmy9Raw1p7CI8VnHPw3t/a3Tl3FoQQbgtCCMf59fQZ/5NASnkbEkKcBUopGGO+wsYYpGl6/gvDMKDrOozjiG3bPnZWSqEsS+R5DiKiQ+C9xzRNWJblcgIpJZIkQRzH2PlH8QZFY2+VIZGdwAAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	padding-left: 13px;
	width: 19px;
	height: 18px;
	float: left;
}

.leaflet-layer-tree-control-select-layers-self {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQXESwDlF5YMgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAABpUlEQVQ4y51TsY7iMBB945iEo2AVkChpQEcFUjoqxD/Q0/B1/AM9JRKtRQENUoSJdEIEO9jeYkk2WdDu6kayLNszb96bGQMvzDn3xznH8QujR4DDfxgRUZFFa43NZgMpJYwxLwM8z0O73UYURfB9v8pgvV6DMYZ+v/81S+UshIBzDuPxGEREDACstZBSPgU/wItlrUWv14OUsngvJNxuNyilfqU9TdMqABEhyzIopWCthbUWnueBiOCcq+wAkGVZzo74arV6y9GstVgul9jv92CMwfd9nE4nGGNQr9cxHA4xm83KZAKutU7LeoUQOBwO0FqDiEBEMMagVquh2+1WakNEnB+PR1tmMJlMEMcxkiRBEAQwxoAxhmazicFggHxkHnIMXywW9/l8/lEQzjGdTlGeq5yFtR95yjNCRCkHAMZYUbRXvS8XMPfNjeWXYRhCCPFjC3e7HVqt1vNfiOMY2+0W5/MZxpgnFvkoh2GI0WiETqcDooeXc84ppXC9XnG/35FlWUGTMVYB4Zyj0WggCIJPgC96Aynl38vlIpMkuURR9O87Se9yCdoXagsYMQAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	padding-left: 13px;
	width: 19px;
	height: 18px;
	float: left;
}

.leaflet-layer-tree-control-select-layers-including-children {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQXESwdblFlUQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAABbUlEQVQ4y6WSsYryQBSFv7sGhSkEEazUamyFdGJlYe8zxLewtlVfwdaH8AHsBLugGBAbxWg3IUadrQy4cf3h3wu3GIbz3TN3DvyxBMBaa/9LLCLO83C9Xlkul4RhyP1+fyvI5XKUy2Vc1yWfz786WCwWiAiNRuPj1PV6jbWWVquFiMjX8yIMQ7TWWGszHQQBg8GAIAjQWhOGYQpMAVEUEcdxpi+XC+PxmO12y3A4ZL/fE0VRCkh3kCQJcRxnLE8mEw6HAwCdTodisUiSJFkHzzLGMJ1OMcYwm83wfR8A13Xp9XqZAc5P8Wg0Yrfb4fs+p9MJgFqthud5b5f64kApRbVaBUjFSik8z0Mp9W8AQL/fp91up2fP86jX679+a/oEx3FeIEAamneBykR5Pp9jrUVr/TFIm80GEaHb7SIikgKOxyOr1Yrz+czj8fg1yqVSiWazSaVSeQXEcYwxhtvt9tGB4zgopSgUCjz1f6pv6zi2Ygok0pwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	padding-left: 13px;
	width: 19px;
	height: 18px;
	float: left;
}