gunicorn
uvicorn

django
django-environ
djangorestframework
djangorestframework-gis
django-elasticsearch-dsl
drf-spectacular
drf-spectacular-sidecar
django-filter

boto3
pytz
psycopg2-binary
rasterio==1.3.9

setuptools==57.5.0
gdal==3.4.1

celery

Pillow